@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1F1F1E;
    color: #FFFFFF;
    line-height: 1.4;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    background-color: #1F1F1E;
    position: relative;
}

.header {
    width: 100%;
    height: 84px;
    background-color: #222220;
    border-bottom: 1px solid #5B5B5B;
}

.toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
}

.toolbar-left {
    margin-left: 20px;
    display: flex;
    gap: 0;
    align-items:center;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.nav-item:hover {
    opacity: 0.1;
}

.nav-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
}

.chevron-icon {
    width: 16px;
    height: 16px;
}

.title-section {
    display: flex;
    align-items: center;
    flex-grow: calc();
    justify-content: left;
}

.main-title {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #BF00F4;
    text-shadow: inset 0px 4px 1px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: -0.02em;
}

.toolbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 45px;
}

.select-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px 12px 16px;
    background-color: #3D93C1;
    cursor: pointer;
}

.select-value {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -2%;
    color: #FFFFFF;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    width: 100%;
    padding-inline: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    gap: 30px;
    justify-content: left;
    display: flex;
}
.container-text {

    width: 100%;
    padding-inline: 50px;
    margin-top: 80px;
    margin-left: 40px;
    gap: 30px;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

/*----------------------- Card Styles ------------------*/

.card-container {

    width: 100%;
    padding-inline: 50px;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 30px;
    justify-content: center;
    display: flex;
}

.card {
    background-color: #2B2D2A;
    width: 380px;
    height: 380px;
    border: #D9D9D9 1px solid;
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px;
    opacity: 0.5;
}
.card-body {
    width: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 5px;
    gap: 8px;
}
.p-user {
    display: flex;
}

/*----------------------- Image Styles ------------------*/
.img-card {
    width: 100%;
    height: auto;
}

.img-card-header {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: #D9D9D9 1px solid;
}



